

#subject_container {
    width: 75%;
    height: 110%;
    transform: translate(-50%, 0%);
    left: 50%;
    position: absolute;
    background: linear-gradient(90deg, rgb(20, 40, 20) 0%, rgb(35, 75, 35) 10%, rgba(40, 80, 40) 50%, rgb(35, 70, 35) 90%, rgb(20, 40, 20) 100%);
    box-shadow: 0px 0px 20px 5px rgb(75, 150, 75);
    filter: blur(5px);
    animation: subject_container_alimented 20s alternate infinite ease-in-out;
}

#information_panel {
    width: 50%;
    height: 50%;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0%);
    background: linear-gradient(0deg, rgb(50, 50, 50), rgb(20, 20, 20));
    border: 2px solid black;
    position: absolute;
}

.information_on_panel {
    width: 50%;
    height: 90%;
    top: 50%;
    left: 5%;
    position: absolute;
    transform: translateY(-50%);
    background-color: black;
    color: rgb(0, 100, 0);
    font-size: 75%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    text-shadow: 0 0 10px rgb(0, 150, 0), 0 0 20px rgb(0, 100, 0);
}

@keyframes subject_container_alimented {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        opacity: 0.5;
    }

    2.5%, 17.5%, 22.5%, 37.5%, 42.5%, 57.5%, 62.5%, 77.5%, 82.5%, 97.5% {
        opacity: 0.49;
    }

    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        opacity: 0.47;
    }

    7.5%, 12.5%, 27.5%, 32.5%, 47.5%, 52.5%, 67.5%, 72.5%, 87.5%, 92.5% {
        opacity: 0.48;
    }

}