/* Styles pour l'animation
.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 2s, transform 2s;
}

.fade-appear {
    opacity: 0;
    transform: translateY(0);
}

.fade-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 2s, transform 2s;
}

.fade-enter {
    opacity: 0;
    transform: translateY(0);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 2s, transform 2s;
} */